.navbar {
  background: #000; }
  .navbar .nav-item {
    padding-left: 1em; }
  .navbar .nav-link {
    text-transform: uppercase; }

.carousel-item {
  height: 450px; }

#homeicon .fa {
  font-size: 50px; }

#getstarted {
  background: url(bg1.jpeg);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px; }
  #getstarted .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#home-video {
  background: url(people.jpeg);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 250px; }
  #home-video .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #home-video .fa {
    font-size: 30px;
    color: #ff0000; }

#photo-gallery img {
  min-height: 250px; }

#footer {
  background: #000; }

#showcase-about {
  background: url(image1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top; }

#we-do img {
  width: 350px;
  height: 350px; }

#icon-boxes {
  min-height: 300px; }
  #icon-boxes .fa {
    font-size: 50px; }

#testmonial .slick-prev::before, #testmonial .slick-next::before {
  color: #000; }

#showcase-services {
  background: url(image3.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top; }

#showcase-blog {
  background: url(image2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top; }

@media (max-width: 767px) {
  .nav-item {
    padding-left: 0; } }

@media (max-width: 480px) {
  .carousel h2 {
    font-size: 2.5rem; }
  #getstarted {
    min-height: 400px; } }
